{% load static %}
{% load thumbnail %}
<html class="html" prefix="og: https://ogp.me/ns#">
    <head>
        <title>Drunken Pandaren</title>
	<meta name="google-site-verification" content="grBCxGtfLNPXB5Pg4137Y9biX7owMIqOm0AH7D37_1A" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="Drunken Pandaren">
        <meta property="og:title" content="Drunken Pandaren" />
        <meta property="og:type" content="website" />
	<meta property="og:image" content="{% static 'og-image.jpeg' %}" />
        <meta property="og:image:width" content="1280">
        <meta property="og:image:height" content="720">
        <meta property="og:url" content="https://drunken-pandaren.ru" />
        <meta property="og:description" content="Создаю сайты и периодически пишу в блог." />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@pandaren_alkash" />
        <meta name="twitter:title" content="Drunken Pandaren" />
        <meta name="twitter:description" content="Создаю сайты и периодически пишу в блог." />
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <meta name="yandex-verification" content="653aae6c8acac38e" />
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
   		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   		ym(68165278, "init", {
        	clickmap:true,
        	trackLinks:true,
        	accurateTrackBounce:true,
        	webvisor:true
   		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/68165278" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9RSEKR7KHV"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-9RSEKR7KHV');
	</script>
    </head>
    <body class="body body-size">
        <div class="headerContent headerContent-size">
		<a class="mobile-btn-open" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img class="img-size" src="{% static 'menu_big_black.png' %}" width="70" height="70"></a>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                	<ul class="offcanvas-ul__size">
                    		<li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'list_news' %}">Главная</a></li>
                    		<li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'works_news_list' %}">Блог</a></li>
                    		<li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'contacts' %}">Контакты</a></li>
                    		<li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="#">Портфолио</a></li>
                	</ul>
            	</div>
		<div class="headerContent__logo headerContent__logo--size"><a class="headerContent__a-logo headerContent__a-logo--size" href="{% url 'list_news' %}">Drunken pandaren</a></div>
                	<ul class="headerContent__nav visions">
                		<li class="headerContent__li headerContent__li-size li-size__left"><a class="headerContent__a headerContent__a-size a-size__left" href="{% url 'works_news_list' %}">Блог</a></li>
                		<li class="headerContent__li headerContent__li-size-2 li-size__left-2"><a class="headerContent__a headerContent__a-size a-size__left" href="{% url 'contacts' %}">Контакты</a></li>
                		<li class="headerContent__li headerContent__li-size-3 li-size__left-3"><a class="headerContent__a headerContent__a-size a-size__left" href="#">Портфолио</a></li>
                	</ul>
        	</div>
        <div class="media">
        {% block content %}
		{% include 'works/works_news_list.html' %}
	{% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'main.js' %}" charset="UTF-8"></script>
    </body>
</html>
