{% extends 'news/base.html' %}

{% block content %}
    {% for new in news %}
        <div class="post-laying-top"></div>
        <div class="post post__size">
		<a class="a-center" href="{% url 'new_single' slug=new.slug %}"><img class="news-list__image" src="{{ new.photo.url }}"></a>
		<h4 class="h2-center"><a class="a-center" href="{% url 'new_single' slug=new.slug %}">{{ new.title }}</a></h4>
		<div class="text-size text-alignment"> <a class="text-decor" href="{% url 'new_single' slug=new.slug %}">{{ new.text_min|safe }}</a> </div>
		<div class="tags-group">
			<p class="text-size__tags font-size__tags margin-left__tags"> Теги: {% for tag in new.tags.all %}
				<div class="tag-style font-size__tags"><a href="{% url 'news_by_tag' tag.slug %}">{{tag.name}}</a></div>
			{% endfor %}</p>
		</div>
		<div class="date">
				<p class="text-size__tags font-size__tags">{{ new.updated }}</p>
            	</div>
        </div>
    {% endfor %}
    {% for works_new in works_news %}
        <div class="post-laying-top"></div>
        <div class="post post__size">
                <a class="a-center" href="{% url 'work_news_detail' slug=works_new.slug %}"><img class="news-list__image" src="{{ works_new.photo.url }}"></a>
                <h2 class="h2-center"><a class="a-center" href="{% url 'work_news_detail' slug=works_new.slug %}">{{ works_new.title }}</a></h2>
                <div class="text-size text-alignment"> <a class="text-decor" href="{% url 'work_news_detail' slug=works_new.slug %}">{{ works_new.text_min|safe }}</a> </div>
                <div class="tags-group">
                        <p class="text-size__tags font-size__tags margin-left__tags"> Теги: {% for tag in works_new.tags.all %}
                                <div class="tag-style font-size__tags"><a href="{% url 'works_by_tag' tag.slug %}">{{tag.name}}</a></div>
                        {% endfor %}</p>
                </div>
                <div class="date">
			<p class="text-size__tags font-size__tags">{{ works_new.updated }}</p>
                </div>
        </div>
    {% endfor %}
{% endblock %}
