@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";
@import "offcanvas";
@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/mmenu-light/dist/mmenu-light.css";

$font-stack: Roboto, sans-serif;
$color: #168dff;
$bg-color: #679ED2;
$hover-color: #408AD2;

/* ------------------------------------End Grid --- */

/* тело сайта */

p {
    font-size: 20px;
    word-wrap: break-word;
}

h1, .h1 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1rem;
}

ol, ul {
    margin-left: -1.5%;
}

li {
    /* margin-bottom: 10px; */
}

.body {
    font-family: $font-stack;
    vertical-align: baseline;
}

.body-size {
    width: 100%;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    justify-content: center;
}
/* шапка сайта */

.headerContent {
    margin: auto;
    display: flex;
}

.headerContent-size {
    width: 1160px;
}
/* logo site */
.headerContent__logo, .headerContent__a-logo {
    text-decoration: none;
    font-size: 18px;
    color: #000000;     /* цвет букв */
    font-weight: 600;
    text-align: center;
}

.headerContent__logo--size, .headerContent__a-logo--size {
    margin-left: 57px;
    display: block;
}

.headerContent__a-logo--size {
    border-bottom: 2px solid #000000;
}

.headerContent__logo, .headerContent__a-logo:hover {
    color: #474747;               /* цвет букв при наведении курсора */
}
/* Нав-панель шапки сайта */

.headerContent__nav {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 400px;
}

.headerContent__li, .headerContent__a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;            /* цвет букв нав-панели */
    vertical-align: baseline;
    font-weight: 600;
}

.headerContent__li-size, .headerContent__a-size {
    display: inline-block; /* Отображать как строчный элемент */
}

.headerContent__a-size {
    border-bottom: 2px solid #000000;
}

.headerContent__li-size-2 {
    display: inline; /* Отображать как строчный элемент */
}

.headerContent__li-size-3 {
    display: inline; /* Отображать как строчный элемент */
}

.img-size {
    margin-top: 40px;
    margin-left: 40px;
}

.mobile-btn-open {
    display: none;
}

.visions {
    display: block;
}

.li-size__left, .a-size__left {
    left: 0;
}

.li-size__left-2 {
    margin-left: 52px;
}

.li-size__left-3 {
    margin-left: 52px;
}

.headerContent__a:hover {
    color: #474747;               /* цвет букв нав-панели при наведении курсора */
}

.radius {
    border-radius: 12px;
}

/*========================= мобильная навигация по сайту ===============================*/

.offcanvas-ul__size {
    margin-left: 0;
    padding-left: 0;
}

.offcanvas-li__size {
    width: 100%;
    margin-top: -1px;
}

.offcanvas-li {
    border-top: 1px solid #000000;
}

.offcanvas-a__size {
    padding: 20px 18px 20px 25px;
    max-width: 100%;
}

.offcanvas-a {
    display: flex;
    font-size: 45px;
    text-decoration: none;
    color: #000000;
}

/* медиа контент */

.media {
    margin: auto;
    display: block;
    width: 1160px;
    vertical-align: baseline;
}

/*================================= Конец мобильной навигации ============================*/

.post__size {
    margin: auto;
    width: 740px;
    height: auto;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.post-laying-top {
    margin: auto;
    width: 740px;
    height: 50px;
}

.news-list__image {
    top: 0;
    width: 738px; /* ширина превью поста */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.h2-center {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.a-center {
    display: block;
    color: #000000;
    font-size: 26px;
    text-decoration: none;
}

.a-center:hover {
    color: #000000;
}

.title-list-size {
    padding-left: 25px; /* отступ текста от превью статьи */
    padding-right: 25px;
    font-size: 24px;
    text-align: center;
}

.text-size {
    padding-left: 25px; /* отступ текста от превью статьи */
    padding-right: 25px;
    font-size: 20px;
}

.text-size__tags {
    font-size: 20px;
}

.text-size__tags-detail {
    font-size: 20px;
}

.margin-left__tags {
    margin-left: 25px;
}

.text-alignment {
    text-align: justify;
}

.text-size, .text-alignment, .text-decor, a a:hover p {
    color: #000000;
    text-decoration: none;
    display: block;
}

.text-decor:hover {
    color: #000000;
    text-decoration: none;
    display: block;
}

/* Отдельная страица поста */

.media__size-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post__size-detail {
    margin: auto;
    width: 740px;
}

.post-padding {
    padding-top: 30px;
}

.date {
    margin-left: 25px;
}

.text-detail {
    font-family: $font-stack;
    font-size: 20px;
}

.text-detail__indent {
    text-indent: 30px; /* Отступ первой строки в пикселах */
}

.text-detail__orientation {
    text-align: center;
}

.text-detail-tags {
    font-family: $font-stack;
    font-size: 16px;
    text-align: justify;
}

.tags-group {
    display: flex;
    align-items: baseline;
}

.tag-style a {
    text-decoration: none;
    color: #000;
    padding: 3px;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-left: 5px;
}

.tag-style:hover a {
    text-decoration: none;
    background-color: #E5E5E5;
}

.news-detail__image {
    width: 930px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*========================= Размер экрана от 720 до 1080 пикселей  ===================================*/

/*Размер экрана от 720 до 1080 пикселей*/
@media screen and (min-width: 720px) and (max-width: 1080px) {

    p {
        font-size: 35px;
        word-wrap: break-word;
        margin-bottom: 30px;
    }

    ol, ul {
        margin-left: 1%;
        font-size: 35px;
    }

    li {
        margin-bottom: 10px;
    }

    .html {
        width: 100%
    }

    .body-size {
        width: 100%;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        justify-content: center;
    }

    /*========== шапка сайта ==========*/

    .headerContent__logo--size, .headerContent__a-logo--size {
        margin-left: 20px;
        display: block;
    }

    .headerContent__a-logo--size {
        padding-top: 22px;
        border-bottom: 0;
    }

    .headerContent__logo, .headerContent__a-logo {
        text-decoration: none;
        font-size: 70px;
        color: #000000;     /* цвет букв */
        font-weight: 600;
    }

    .headerContent {
        height: auto;
        border-bottom: 2px solid #000000;
    }

    .headerContent-size {
        width: 100%;
    }
		
    .headerContent__nav {
        margin: 0;
    }

    .headerContent__nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
    }

    .headerContent__li, .headerContent__a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;            /* цвет букв нав-панели */
        vertical-align: baseline;
        font-weight: 600;
    }
		
    .mobile-btn-open {
        display: block;
        width: 150px;
        height: 150px;
    }

    .visions {
        display: none;
    }
		
    .logo {
        display: block;
        text-align: center;
        float: none;
    }

    /*========== превью постов ==========*/

    .media {
        margin: auto;
        display: block;
        width: 100%;
        vertical-align: baseline;
    }

    .post__size {
        margin: auto;
        width: 100%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    .post-laying-top {
        margin: auto;
        width: 100%;
        height: 50px;
    }

    .news-list__image {
        top: 0;
        width: 100%; /* ширина превью поста */
    }

    /* медиа контент */

    .media {
        margin: auto;
        display: block;
        width: 95%;
        vertical-align: baseline;
    }

    .post__size {
        margin: auto;
        width: 95%;
        height: auto;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, .2);
    }

    .post-laying-top {
        margin: auto;
        width: 95%;
        height: 50px;
    }

    .news-list__image {
        top: 0;
        width: 95%; /* ширина превью поста */
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .a-center {
        display: block;
        color: #000000;
        text-decoration: none;
        font-size: 50px;
    }

    .a-center:hover {
        color: #000000;
    }

    .tags-group {
        flex-wrap: wrap;
        margin: 25px;
    }

    .margin-left__tags {
        font-size: 20px;
        margin-left: 15px;
    }

    .tag-style {
        margin-left: 10px;
    }

    .text-size {
        padding-left: 25px; /* отступ текста от превью статьи */
        padding-right: 25px;
    }

    .text-size__tags {
        /* padding-left: 25px; */
        /* padding-right: 25px; */
    }

    .font-size__tags {
        font-size: 40px;
    }

    .title-list-size {
        padding-left: 25px; /* отступ текста от превью статьи */
	padding-right: 25px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
    }

    .text-size__tags-detail {
        font-size: 30px;
    }

    .text-alignment {
        text-align: justify;
    }

    .news-list__image {
        width: 100%;
    }

    /*============== Отдельная страница поста ========*/

    .media__size-detail {
        display: flex;
        justify-content: center;
    }

    .post__size-detail {
        width: 95%;
    }

    .text-detail {
        font-family: $font-stack;
    }

    .text-detail__indent {
        text-indent: 50px; /* Отступ первой строки в пикселах */
    }

    .text-detail__orientation {
        text-align: center;
    }

    .news-detail__image {
	width: 99%;
    }
    
    .font-size__detail {
        font-size: 43px;
    }
}

/*Размер экрана меньше 360px*/
@media screen and (min-width: 300px) and (max-width: 460px) {

    p {
        font-size: 40px;
    } 

    .html {
        width: 100%;
    }

    .body-size {
        width: 100%;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        justify-content: center;
    }

    /*========== шапка сайта ==========*/
    .headerContent__logo--size, .headerContent__a-logo--size {
        margin-left: 20px;
        display: block;
    }

    .headerContent__a-logo--size {
        padding-top: 22px;
        border-bottom: 0;
    }

    .headerContent__logo, .headerContent__a-logo {
        text-decoration: none;
        font-size: 70px;
        color: #000000;
        /* цвет букв */
        font-weight: 600;
    }

    .headerContent {
        height: auto;
        border-bottom: 2px solid #000000;
    }

    .headerContent-size {
        width: 100%;
    }

    .headerContent__nav {
        margin: 0;
    }

    .headerContent__nav {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
    }

    .headerContent__li, .headerContent__a {
        text-decoration: none;
        font-size: 18px;
        color: #000000;
        /* цвет букв нав-панели */
        vertical-align: baseline;
        font-weight: 600;
    }

    .mobile-btn-open {
        display: block;
        width: 150px;
        height: 150px;
    }

    .visions {
        display: none;
    }

    .logo {
        display: block;
        text-align: center;
        float: none;
    }

    /*========== превью постов ==========*/
    .media {
        margin: auto;
        display: block;
        width: 100%;
        vertical-align: baseline;
    } 

    .post__size {
        margin: auto;
        width: 100%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .post-laying-top {
        margin: auto;
        width: 100%;
        height: 50px;
    }

    .news-list__image {
        top: 0;
        width: 100%;
        /* ширина превью поста */
    }

    /* медиа контент */
    .media {
        margin: auto;
        display: block;
        width: 95%;
        vertical-align: baseline;
    }

    .post__size {
        margin: auto;
        width: 95%;
        height: auto;
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .post-laying-top {
        margin: auto;
        width: 95%;
        height: 50px;
    }

    .news-list__image {
        top: 0;
        width: 95%;
        /* ширина превью поста */
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .a-center {
        display: block;
        color: #000000;
        text-decoration: none;
        font-size: 50px;
    }

    .a-center:hover {
        color: #000000;
    }

    .tags-group {
        display: flex;
        align-items: baseline;
    }

    .tag-style {
        margin-left: 10px;
    }

    .text-size {
        padding-left: 25px;
        /* отступ текста от превью статьи */
        padding-right: 25px;
    }

    .text-size__tags {
        padding-left: 25px;
        /* отступ текста от превью статьи */
        padding-right: 25px;
    }

    .font-size__tags {
        font-size: 40px;
    }

    .title-list-size {
        padding-left: 25px;
        /* отступ текста от превью статьи */
        padding-right: 25px;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    }

    .text-size__tags-detail {
        font-size: 30px;
    }

    .text-alignment {
        text-align: justify;
    }

    .news-list__image {
        width: 100%;
    }

    /*============== Отдельная страница поста ========*/
    .media__size-detail {
        display: flex;
        justify-content: center;
    }

    .post__size-detail {
        width: 95%;
    }

    .text-detail {
        font-family: Roboto, sans-serif;
        font-size: 50px;
        text-align: justify;
    }

    .text-detail__indent {
        text-indent: 50px;
        /* Отступ первой строки в пикселах */
    }

    .text-detail__orientation {
        text-align: center;
    }

    .news-detail__image {
        width: 99%;
    }

    .font-size__detail {
        font-size: 50px;
    }

}
