{% load static %}
{% load thumbnail %}
<html class="html" prefix="og: https://ogp.me/ns#">
    <head>
        <title>Drunken Pandaren</title>
        <meta property="og:site_name" content="Drunken Pandaren">
        <meta property="og:title" content="Блог" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://drunken-pandaren.ru/blog/" />
        <meta property="og:description" content="Раздел блогов, тут я пишу о животрепещущих темах для меня." />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@pandaren_alkash" />
        <meta name="twitter:title" content="Блог" />
        <meta name="twitter:description" content="Раздел блогов, тут я пишу о животрепещущих темах для меня." />
	<link rel="stylesheet" href="{% static 'main.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    <body class="body body-size">
	<div class="headerContent headerContent-size">
                <a class="mobile-btn-open" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><img class="img-size" src="{% static 'menu_big_black.png' %}" width="70" height="70"></a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                        <ul class="offcanvas-ul__size">
                                <li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'list_news' %}">Главная</a></li>
                                <li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'works_news_list' %}">Блог</a></li>
                                <li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="{% url 'contacts' %}">Контакты</a></li>
                                <li class="offcanvas-li__size offcanvas-li"><a class="offcanvas-a__size offcanvas-a" href="#">Портфолио</a></li>
                        </ul>
                </div>
                <div class="headerContent__logo headerContent__logo--size"><a class="headerContent__a-logo headerContent__a-logo--size" href="{% url 'list_news' %}">Drunken pandaren</a></div>
                        <ul class="headerContent__nav visions">
                                <li class="headerContent__li headerContent__li-size li-size__left"><a class="headerContent__a headerContent__a-size a-size__left" href="{% url 'works_news_list' %}">Блог</a></li>
                                <li class="headerContent__li headerContent__li-size-2 li-size__left-2"><a class="headerContent__a headerContent__a-size a-size__left" href="{% url 'contacts' %}">Контакты</a></li>
                                <li class="headerContent__li headerContent__li-size-3 li-size__left-3"><a class="headerContent__a headerContent__a-size a-size__left" href="#">Портфолио</a></li>
                        </ul>
        </div>
        <div class="media">
        {% block content %}
        {% endblock %}
        </div>
	<script type="text/javascript" src="{% static 'main.js' %}" charset="UTF-8"></script>
    </body>
</html>

